:root {
  --ifm-color-primary: #c91f45;
  --ifm-color-primary-dark: #b51c3e;
  --ifm-color-primary-darker: #ab1a3b;
  --ifm-color-primary-light: #db315a;
  --ifm-code-font-size: 92%;
  --ifm-font-family-base: Inter, ui-sans-serif, system-ui, sans-serif;
}

[data-theme='dark'] {
  --ifm-color-primary: #ff6d8d;
  --ifm-background-color: #161719;
}

.theme-doc-markdown h2 { margin-top: 2.75rem; }
.theme-code-block { border-radius: 10px; }
